@font-face {
  font-family: "IBM_Plex_Mono";
  src : url("../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf");
}

body {
  font-family: "IBM_Plex_Mono";
  background: #000;
}

h1 {
  text-align: left;
  color: #fff;
  font-size: 107px;
  font-size: 116px;
  line-height: 118.5%;
  text-transform: uppercase;
  margin-top: 50px;
  letter-spacing: -0.09em;
}

h2 {
  text-align: left;
  color: #fff;
  font-size: 42px;
  line-height: 118.5%;
  text-transform: uppercase;
  margin-top: 12px;
  letter-spacing: -0.09em;
}

p {
  color: #fff;
  margin-top: 23px;
}

img {
  max-width: 447px;
}

.logos a:first-child, .logos a:last-child {
  display: none;
}

.download {
  display: block;
  text-decoration: none;
  padding: 17% 0;
  border-radius: 81px;
  color: #000;
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: -0.09em;
  left: 493px;
  margin-top: 26px;
  top: 540px;
  background: #FF9900;
}

.download:hover {
  color: #000;
}

.container-fluid .col {
  text-align: center;
}

.content {
  flex: 2 0 0%;
  padding: 0;
}

.content .logos {
  display: flex;
  justify-content: space-between;
}

.container-fluid .col:first-child, .container-fluid .col:last-child {
  padding: 0;
}

@media screen and (max-width: 992px) {
  .girls {
    display: none;
    }
  .download {
    padding: 40% 0;
  }
}
